<div class="auth-container">
  <div class="card">
    <h2>Registro Profesional</h2>
    <form (ngSubmit)="registrar()">
      <div class="form-row">
        <select [(ngModel)]="usuario.tipoDocumento" name="tipoDocumento" required>
          <option value="" disabled selected>Tipo de Documento</option>
          <option value="CC">Cédula de Ciudadanía</option>
          <option value="CE">Cédula de Extranjería</option>
        </select>
        <input [(ngModel)]="usuario.numeroDocumento" name="numeroDocumento" type="text" placeholder="Número de Documento" required>
      </div>

      <div class="form-row">
        <input [(ngModel)]="usuario.nombre" name="nombre" type="text" placeholder="Nombres" required>
        <input [(ngModel)]="usuario.apellidos" name="apellidos" type="text" placeholder="Apellidos" required>
      </div>

      <input [(ngModel)]="usuario.email" name="email" type="email" placeholder="Correo Electrónico" required>
      <input [(ngModel)]="usuario.confirmacionCorreo" name="confirmacionCorreo" type="email" placeholder="Confirmar Correo" required>

      <input [(ngModel)]="usuario.password" name="password" type="password" placeholder="Contraseña" required>
      <input [(ngModel)]="usuario.confirmacionPassword" name="confirmacionPassword" type="password" placeholder="Confirmar Contraseña" required>

      <button type="submit" class="btn-main">Registrarse</button>
    </form>
  </div>
</div>
